td, th {
	border: 1px solid;
  }

#body h1{
	font-family: "Pacifico", cursive;
	font-weight: 400;
  	font-style: normal;
	color: red;
}

.mercury, .saturn, .mars, .pluto{
	border: 2px solid gray;
}

  