
td, th {
	border: 2px solid #000000;
	padding: 20px;
 }
body{
	font-family: "Crimson Text", serif;
	text-align: center;
	background-color: #e0fbf9;
}
h1{
	background-color: lightblue;
	font-size:30px;
	color: #000000;
}
table{
	width: 80%;
	background-color: #e2decc;
}

#planets {
	width: 80%;
	margin: 0;
}
.mercury, .saturn, .mars, .jupiter{
	border: 6px solid gray;
}
.header{
	font-weight: bold;
}